<ion-header>
  <ion-toolbar>
    <ion-title>
      Sign-in/up
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <form (ngSubmit)="
      alreadyRegistered == null ?
        retrievePlayer() :
        registerPlayer()
    ">
      <ion-row>
        <ion-col>
          <ion-list>

            <ion-item>
              <ion-input type="text"
                         placeholder="Nickname"
                         name="nickname"
                         [(ngModel)]="player.nickname"
                         required>
              </ion-input>
              <ion-label *ngIf="alreadyRegistered === false"
                         color="primary"
                         stacked>
                does not exist yet ...
              </ion-label>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="alreadyRegistered === false">
        <ion-col>
          <ion-list>

            <ion-item>
              <ion-label color="primary"
                         stacked>
                ... register their avatar :
              </ion-label>
              <ion-input type="text"
                         style="{{(!(player.avatar_url || '').match(urlPattern)) ?
                          'color: red' :
                          ''
                         }}"
                         placeholder="Avatar URL"
                         name="avatar_url"
                         [(ngModel)]="player.avatar_url"
                         required>
              </ion-input>
            </ion-item>

          </ion-list>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-list>
            <button ion-button
                    class="submit-btn"
                    full
                    type="submit"
                    [attr.pattern]="urlPattern"
                    [disabled]="!completed || null">
              Next
            </button>
          </ion-list>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>