<app-home *ngIf="player != null"
          [title]="player.nickname + ' : ' + (player.score || 0)">
</app-home>
<app-player-signup *ngIf="player == null"
                   (playerCreated)="player = $event">
</app-player-signup>